
@{
    ViewBag.Title = "BecomeAMember";
}

<h2>How To Become A Member</h2>

<P>Step 1 - Register with your e-mail address and unique password by clicking the Register link at the upper-right corner of the page.</P>
<p>Step 2 - Login to the forum using the registered e-mail address and password.</p>
<p>Step 3 - Create a profile by clicking the Become a member link at the bottom-left corner of the homepage.</p>
<p>Next &nbsp;&nbsp;&nbsp;-   Start interacting and getting the neccessary supports.</p>

