@model NaijaCA_Forum.Models.MemberDto

@{
    ViewBag.Title = "DeletePrompt";
}

<h2>Delete Member @Model.FirstName</h2>

<div>
    Please confirm to delete @Model.FirstName @Model.LastName's Profile!!!
</div>

<br />

<form action="/member/delete/@Model.MemberID" method="post">
    <button>Delete</button>
</form>

<br>

<div>
    <a href="/member/details/@Model.MemberID">Cancel</a>
</div>




