@model NaijaCA_Forum.Models.ViewModels.ProvinceCity

@{
    ViewBag.Title = "New";
}

<h2 class="member-new-heading">Create Member Profile</h2>
<hr />

<br />
<form action="/member/create" method="POST" name="memberNewForm">

    <div>
        <label for="FirstName">First Name: </label>  <input type="text" name="FirstName" value="" id="FirstName" />
    </div>
    <div>
        <label for="LastName">Last Name: </label>  <input type="text" name="LastName" value="" id="LastName" />
    </div>
    <div>
        <label for="UserName">Username: </label>  <input type="text" name="UserName" value="" id="UserName" />
    </div>

    <div>
        <label for="ProvinceID">Province: </label>

        <select name="ProvinceID">
            @foreach (var province in Model.ProvinceOptions)
            {

                <option value="@province.ProvinceID">@province.ProvinceName</option>

            }

        </select>
    </div>
    <div>
        <label for="CityID">City: </label>

        <select name="CityID">
            @foreach (var city in Model.CityOptions)
            {

                <option value="@city.CityID">@city.CityName</option>

            }

        </select>
    </div>
    <div>
        <label for="LandedDate">Landed Date: </label>  <input type="date" name="LandedDate" value="" id="LandedDate" />
    </div>
    <div>
        <label for="FavouriteQuote">Favourite Quote: </label>  <textarea type="text" name="FavouriteQuote" value="" id="FavouriteQuote"></textarea>
    </div>
    <div>
        <label for="Comment">Comment: </label>  <textarea type="text" name="Comment" value="" id="Comment"></textarea>
    </div>
    <br />

    <div>
        <label for="pic">Upload Picture</label> <input type="file" name="ProfilePic" value="" id="pic" />
    </div>

    <br />

    <div>
        <input type="submit" name="" value="Create Profile" />
    </div>

</form>

<br />





