block variables
doctype html
html
  head
    meta(charset = "utf-8")
    title #{title} | lokoStoreApp
    block scripts
      link(href = "/style.css", rel = "stylesheet", type = "text/css")
  body
    header#header 
      .header-content 
        h2#site-name 
          a(href = "/") lokoStoreApp 
      nav#main-navigation 
        ul 
          each link in menu 
            li 
              a(href = link.path) #{link.name}

    main#main-content 
      block main-content 
    footer#footer 
      p &copy; Copyright Lukmon Lasisi, 2023.