extends layout 

block main-content 
  h1 History of lokolass eCommerce Store
  p This is a store created in 2023 by the author Lukmon Lasisi. You can get anything you want. You just have to imagine it.
  p This is where you can find all kinds of items ranging from the kitchen and household items to the garage items.
  div.author-image
    img(src = "/image/Lukmon.jpg" alt = "The Author.")

  p Author: Lukmon Lasisi