extends layout

block main-content
  div.search-form
    form(action="")
      input(type="text")
      input(type="submit", value = "Search")

  h2 Items categories

  ul 
    each ic in category 
      li 
        a(href = ic.path) #{ic.name}



  ul
    li
      a(href = "#") Plumbing items
    li
      a(href = "#") Kitchen items
    li
      a(href = "#") Garage items
    li
      a(href = "#") Handyman items
  .search-content
  
    
  ul.image-content
    li 
      img(src="/image/gelato.jpeg", alt="") 
    li
      img(src="/image/natural.png", alt="") 
    li
      img(src="/image/kids.jpg", alt="")
      
