block variables
doctype html
html
  head
    meta(charset = "utf-8")
    title #{title} - Lokolass Store
    link(rel="stylesheet", href="/style.css")
  body
    header#header-content
      h1.header-content1 Lokolass eCommerce Store
      p.header-content2 This is where you can find all kinds of items ranging from the kitchen and household items to the garage items.
    main
      block main-content
    footer
      p &copy; Copyright Lukmon Lasisi Humber Web Dev, 2023.
    
