block variables
doctype html
html
  head
    meta(charset = "utf-8")
    title #{title} - Lokolass Store
    link(rel="stylesheet", href="/style.css")
  body
    .allheader 
      header#header-content
        h1.header-content1 
          a(href = "http://localhost:8888/") Lokolass eCommerce Store
        ul.flex-container 
          each m in menu 
            li.flex-item 
              a(href=m.path) #{m.name}
      
    main
      block main-content
    footer#footer-content
      p &copy; Copyright Lukmon Lasisi Humber Web Dev, 2023.
    
