@{
    ViewBag.Title = "Contact";
}
<h2>Contact:</h2>

<address>
    7685 Black Walnut Trail<br />
    Mississauga, ON L5N 8A6<br />
    <abbr title="Phone">Phone:</abbr>
    6475408374
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lasisilukmon@gmail.com">lasisilukmon@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">lasisilukmon@gmail.com</a>
</address>