@model IEnumerable<MyPassionProject.Models.roadDto>

@{
    ViewBag.Title = "List";
}

<a class="anchorNav" href="/roadsConn/New">Add New Road</a>

<h3>List of roads</h3>

@foreach (var road in Model)
{

    <div>

        <a href="Details/@road.roadId">@road.streetName</a>

    </div>
    <div>Length: @road.roadLength</div>
    <div>STATUS: @road.roadStatus</div>
    
        <br />
    
}



