@model Cummulative1.Models.Teacher


@{
    ViewBag.Title = "DeleteConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Confirm</h2>
<div>Are you sure to delete @Model.TeacherFname @Model.TeacherLname from the database</div>

<button>Delete Teacher</button>

