@model Cummulative1.Models.Teacher

@{
    ViewBag.Title = "TeacherShow";
}

@{
    var data = ViewBag.SearchKey;
 }

<h1>Showing teacher corresponding to the ID provided</h1>

<p><strong><em>@Model.TeacherFname @Model.TeacherLname</em></strong> is the teacher with the ID of @data</p>

