@model IEnumerable<Cummulative1.Models.Teacher>


@{
    ViewBag.Title = "TeacherList";
}

<h2>Teachers List</h2>

<a href="/Teacher/AddTeacher">Create Teacher</a>


<form action="/Teacher/TeacherList" method="POST">
    <input type="text" name="SearchKey" autocomplete="" />
    <input type="submit" value="Search" />

</form>

@foreach (var Teach in Model)
{
    <div>
        <a href="/Teacher/TeacherShow?id=@Teach.TeacherId">@Teach.TeacherFname @Teach.TeacherLname</a> 
         

    </div>
}




